<!-- <app-form-dialog [id]="this.data.id" [title]="'regions.tableName'" [formGroup]="form" [client]="_RegionsClient"
    [post]="post" [put]="put" (request)="submit($event)">
    <div form-dialog-content>
        <div formGroupName="name">
            <div class="flex flex-col sm:flex-row">
                <mat-form-field *ngIf="'general.ar' | translate as ar" appearance="outline" class="mt-6 flex-auto">
                    <mat-label>{{ ar }}</mat-label>
                    <input cdkFocusInitial formControlName="Ar" matInput />
                    <mat-error *ngIf="nameAr.hasError('required')">{{
                        'validations.required' | translate: { field: ar }
                        }}</mat-error>
                    <mat-error *ngIf="nameAr.hasError('validation')">{{
                        nameAr.errors.validation
                        }}</mat-error>
                </mat-form-field>
            </div>

            <div class="flex flex-col sm:flex-row">
                <mat-form-field *ngIf="'general.en' | translate as en" appearance="outline" class="flex-auto">
                    <mat-label>{{ en }}</mat-label>
                    <input formControlName="En" matInput />
                    <mat-error *ngIf="nameEn.hasError('required')">{{
                        'validations.required' | translate: { field: en }
                        }}</mat-error>
                    <mat-error *ngIf="nameEn.hasError('validation')">{{
                        nameEn.errors.validation
                        }}</mat-error>
                </mat-form-field>
            </div>
        </div>
  
          <div class="flex flex-col sm:flex-row">
            <mat-form-field
              *ngIf="'team.phone_number' | translate as phone_number"
              appearance="outline"
              class="flex-auto"
            >
              <mat-label>{{ phone_number }}</mat-label>
              <span *ngIf="!isArabic" matPrefix>+20 &nbsp;</span>
              <input
                class="english-text text-left"
                formControlName="phoneNumber"
                matInput
                max="10"
                type="tel"
              />
              <span *ngIf="isArabic" matSuffix>+20 &nbsp;</span>
              <mat-error *ngIf="form.get('phoneNumber').hasError('required')">{{
                'validations.required' | translate: { field: phone_number }
              }}</mat-error>
              <mat-error *ngIf="form.get('phoneNumber').hasError('validation')">{{
                form.get('phoneNumber').errors.validation
              }}</mat-error>
            </mat-form-field>
    </div>
</app-form-dialog> -->