<app-form-dialog
  [id]="this.id"
  [title]="'profile.password' | translate"
  [formGroup]="form"
  [loading]="loading"
  [errors]="errors"
  (fgSubmit)="submit()"
>
  <div form-dialog-content>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field
        *ngIf="'profile.oldPassword' | translate as oldPassword"
        appearance="outline"
        class="mt-6 flex-auto"
      >
        <mat-label>{{ oldPassword }}</mat-label>
        <input cdkFocusInitial formControlName="oldPassword" type="password" matInput />
        <mat-error *ngIf="form.get('oldPassword').hasError('required')">{{
          'validations.required' | translate: { field: oldPassword }
        }}</mat-error>
        <mat-error *ngIf="form.get('oldPassword').hasError('validation')">{{
          form.get('oldPassword').errors.validation
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field
        *ngIf="'profile.newPassword' | translate as newPassword"
        appearance="outline"
        class="flex-auto"
      >
        <mat-label>{{ newPassword }}</mat-label>
        <input formControlName="newPassword" type="password" matInput />
        <mat-error *ngIf="form.get('newPassword').hasError('required')">{{
          'validations.required' | translate: { field: newPassword }
        }}</mat-error>
        <mat-error *ngIf="form.get('newPassword').hasError('validation')">{{
          form.get('newPassword').errors.validation
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field
        *ngIf="'profile.confirmPassword' | translate as confirmPassword"
        appearance="outline"
        class="flex-auto"
      >
        <mat-label>{{ confirmPassword }}</mat-label>
        <input formControlName="confirmPassword" type="password" matInput />
        <mat-error *ngIf="form.get('confirmPassword').hasError('required')">{{
          'validations.required' | translate: { field: confirmPassword }
        }}</mat-error>
        <mat-error *ngIf="form.get('confirmPassword').hasError('validation')">{{
          form.get('confirmPassword').errors.validation
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</app-form-dialog>
