<!-- <mat-toolbar class="mat-elevation-z8"> -->
<button mat-icon-button (click)="sidenav.toggle()">
  <mat-icon *ngIf="!sidenav.opened">
    +
  </mat-icon>
  <mat-icon *ngIf="sidenav.opened">
    x
  </mat-icon>
</button>
<!-- Responsive side navigation
</mat-toolbar> -->

<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8" cdkDropList #formFields="cdkDropList"
    (cdkDropListDropped)="drop($event)" [cdkDropListConnectedTo]="[form]" [cdkDropListData]="fieldModels">

    <h4>Select Fields</h4>
    <p>Customize your form by drag and drop below fields to the form area.</p>
    <div *ngFor="let item of fieldModels">
      <!-- <mat-form-field
        *ngIf="item.type!='checkbox' && item.type!='radio' && item.type!='autocomplete' && item.type!='file'" cdkDrag>
        <mat-label>{{item.label}}</mat-label>
        <input type="{{item.type}}" placeholder="{{item.placeholder}}" matInput disabled />
      </mat-form-field>

      <div *ngIf="item.type=='checkbox'" cdkDrag>
        <div class="example-margin" *ngFor="let i of item.values">
          <mat-checkbox disabled>{{i.label}}</mat-checkbox>
        </div>
      </div>
      <div *ngIf="item.type=='radio'" cdkDrag>
        <mat-radio-group aria-label="Select an option" *ngFor="let i of item.values" disabled>
          <mat-radio-button value="{{i.value}}">{{i.label}}</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="item.type=='file'" cdkDrag>
        <input type="file" (change)="onFileChanged($event)" disabled />
      </div>
      <div *ngIf="item.type=='autocomplete'" cdkDrag>
        <mat-form-field appearance="fill" disabled>
          <mat-label>Select</mat-label>
          <mat-select>
            <mat-option *ngFor="let i of item.values" value="{{i.value}}">
              {{i.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
      <!-- /////////////////// -->

      <mat-grid-list cols="4"cdkDrag>
        <mat-grid-tile  class="fields" colspan="1"><mat-icon>{{item.icon}}</mat-icon></mat-grid-tile>
        <mat-grid-tile colspan="3"><span>{{item.label}}</span></mat-grid-tile>
        </mat-grid-list>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <div cdkDropList #form="cdkDropList" [cdkDropListConnectedTo]="[formFields]" (cdkDropListDropped)="drop($event)"
        [cdkDropListData]="secondList" cdkDrag style="padding:20px; border:2px solid #ccc">
        <h2><input matInput type="text" [(ngModel)]="model.name" /></h2>
        <input matInput type="text" [(ngModel)]="model.description" />
        <div *ngFor="let item of secondList">
          <mat-form-field
            *ngIf="item.type!='checkbox' && item.type!='radio' && item.type!='autocomplete' && item.type!='file'"
            cdkDrag>
            <mat-label>{{item.label}}</mat-label>
            <input type="{{item.type}}" placeholder="{{item.placeholder}}" matInput />
          </mat-form-field>

          <div *ngIf="item.type=='checkbox'" cdkDrag>
            <div class="example-margin" *ngFor="let i of item.values">
              <mat-checkbox>{{i.label}}</mat-checkbox>
            </div>
          </div>
          <div *ngIf="item.type=='radio'" cdkDrag>
            <mat-radio-group aria-label="Select an option" *ngFor="let i of item.values">
              <mat-radio-button value="{{i.value}}">{{i.label}}</mat-radio-button>
            </mat-radio-group>
          </div>
          <div *ngIf="item.type=='file'" cdkDrag>
            <input type="file" (change)="onFileChanged($event)">
          </div>
          <div *ngIf="item.type=='autocomplete'" cdkDrag>
            <mat-form-field appearance="fill">
              <mat-label>Select</mat-label>
              <mat-select>
                <mat-option *ngFor="let i of item.values" value="{{i.value}}">
                  {{i.label}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <mat-icon (click)="openDialog(myDialog)">
            expand_more
          </mat-icon>
          <mat-icon (click)="removeField(item)">
            delete
          </mat-icon>



          <ng-template #myDialog>
            <mat-dialog-actions>
              <div class="toggle-Wrapper">
                <mat-form-field>
                  <mat-label>Label</mat-label>
                  <input type="text" [(ngModel)]="item.label" matInput />
                </mat-form-field>

                <mat-form-field appearance="fill">
                  <mat-label>Type</mat-label>
                  <mat-select [(ngModel)]="item.type">
                    <mat-option value="text">text</mat-option>
                    <mat-option value="email">email</mat-option>
                    <mat-option value="phone">phone</mat-option>
                    <mat-option value="number">number</mat-option>
                  </mat-select>
                </mat-form-field>

                <mat-form-field>
                  <mat-label>Regex</mat-label>

                  <input type="text" [(ngModel)]="item.regex" matInput />
                </mat-form-field>

                <!-- number -->
                <div *ngIf="item.type=='number'">
                  <mat-form-field>
                    <mat-label>Min</mat-label>

                    <input type="text" [(ngModel)]="item.min" matInput />
                  </mat-form-field>

                  <mat-form-field>
                    <mat-label>Max</mat-label>

                    <input type="text" [(ngModel)]="item.max" matInput />
                  </mat-form-field>


                </div>

                <!-- radio || checkbox || autocomplete -->
                <div *ngIf="item.type=='radio'|| item.type=='checkbox' || item.type=='autocomplete'">
                  <div class="row">
                    <mat-form-field>
                      <mat-label>Label</mat-label>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Value</mat-label>
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>Action</mat-label>
                    </mat-form-field>

                  </div>
                  <div *ngFor="let i of item.values; let valueIndex=index;" class="row">
                    <div class="col-5">
                      <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="i.label" />
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="i.value" />
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label (click)="item.values.splice(valueIndex,1)">remove</label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-5">
                      <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="value.label" />
                      </div>
                    </div>
                    <div class="col-5">
                      <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="value.value" />
                      </div>
                    </div>
                    <div class="col-2">
                      <div class="form-group">
                        <label (click)="addValue(item.values)">Add</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button mat-button matDialogClose="no">No</button>
              <button mat-button matDialogClose="yes">Yes</button>
            </mat-dialog-actions>
          </ng-template>
        </div>
        <button type="submit" mat-button color="primary">Submit</button>
      </div>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>