<app-form-dialog
  *ngIf="dto"
  [id]="this.data.id"
  [title]="'team.partnerTableName'"
  [formGroup]="form"
  (fgSubmit)="submit()"
  [loading]="loading"
  [errors]="errors"
>
  >
  <div form-dialog-content>
    <div formGroupName="name">
      <div class="flex flex-col sm:flex-row">
        <mat-form-field
          *ngIf="'team.first_name' | translate as first_name"
          appearance="outline"
          class="mt-6 flex-auto"
        >
          <mat-label>{{ first_name }}</mat-label>
          <input cdkFocusInitial formControlName="FirstName" matInput />
          <mat-error *ngIf="firstName.hasError('required')">{{
            'validations.required' | translate: { field: first_name }
          }}</mat-error>
          <mat-error *ngIf="firstName.hasError('validation')">{{
            firstName.errors.validation
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="flex flex-col sm:flex-row">
        <mat-form-field
          *ngIf="'team.last_name' | translate as last_name"
          appearance="outline"
          class="flex-auto"
        >
          <mat-label>{{ last_name }}</mat-label>
          <input formControlName="LastName" matInput />
          <mat-error *ngIf="lastName.hasError('required')">{{
            'validations.required' | translate: { field: last_name }
          }}</mat-error>
          <mat-error *ngIf="lastName.hasError('validation')">{{
            lastName.errors.validation
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field
        *ngIf="'team.email' | translate as email"
        appearance="outline"
        class="flex-auto"
      >
        <mat-label>{{ email }}</mat-label>
        <input formControlName="email" matInput type="email" />
        <mat-error *ngIf="form.get('email').hasError('required')">{{
          'validations.required' | translate: { field: email }
        }}</mat-error>
        <mat-error *ngIf="form.get('email').hasError('validation')">{{
          form.get('email').errors.validation
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field
        *ngIf="'team.phone_number' | translate as phone_number"
        appearance="outline"
        class="flex-auto"
      >
      <mat-label>{{ phone_number }}</mat-label>
      <div class=" flex flex-row justify-start items-center">
        <input
        class="english-text text-left"
        formControlName="phoneNumber"
        matInput
        max="10"
        type="tel"
        />
        <app-country-flag (code)="serCountryCode($event)" [phone]="data?.phoneNumber"></app-country-flag>
        </div>
        <mat-error *ngIf="form.get('phoneNumber').hasError('required')">{{
          'validations.required' | translate: { field: phone_number }
        }}</mat-error>
        <mat-error *ngIf="form.get('phoneNumber').hasError('validation')">{{
          form.get('phoneNumber').errors.validation
        }}</mat-error>
      </mat-form-field>
    </div>


    <div *ngIf="!data.id">
      <div class="flex flex-col sm:flex-row">
        <mat-form-field
          *ngIf="'team.password' | translate as password"
          appearance="outline"
          class="flex-auto"
        >
          <mat-label>{{ password }}</mat-label>
          <input formControlName="password" matInput type="password" />
          <mat-error *ngIf="form.get('password').hasError('required')">{{
            'validations.required' | translate: { field: password }
          }}</mat-error>
          <mat-error *ngIf="form.get('password').hasError('validation')">{{
            form.get('password').errors.validation
          }}</mat-error>
        </mat-form-field>
      </div>

      <div class="flex flex-col sm:flex-row">
        <mat-form-field
          *ngIf="'team.confirmPassword' | translate as confirmPassword"
          appearance="outline"
          class="flex-auto"
        >
          <mat-label>{{ confirmPassword }}</mat-label>
          <input formControlName="confirmPassword" matInput type="password" />
          <mat-error *ngIf="form.get('confirmPassword').hasError('required')">{{
            'validations.required' | translate: { field: confirmPassword }
          }}</mat-error>
          <mat-error *ngIf="form.get('confirmPassword').hasError('validation')">{{
            form.get('confirmPassword').errors.validation
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>


    </div>


</app-form-dialog>
