<app-form-dialog
  *ngIf="form"
  [id]="this.data.id"
  [title]="'team.password'"
  [formGroup]="form"
  (fgSubmit)="submit()"
  [loading]="loading"
  [errors]="errors"
>
  >
  <div form-dialog-content>
    <div class="flex flex-col sm:flex-row">
      <mat-form-field
        *ngIf="'team.password' | translate as password"
        appearance="outline"
        class="flex-auto"
      >
        <mat-label>{{ password }}</mat-label>
        <input cdkFocusInitial formControlName="password" matInput type="password" />
        <mat-error *ngIf="form.get('password').hasError('required')">{{
          'validations.required' | translate: { field: password }
        }}</mat-error>
        <mat-error *ngIf="form.get('password').hasError('validation')">{{
          form.get('password').errors.validation
        }}</mat-error>
      </mat-form-field>
    </div>

    <div class="flex flex-col sm:flex-row">
      <mat-form-field
        *ngIf="'team.confirmPassword' | translate as confirmPassword"
        appearance="outline"
        class="flex-auto"
      >
        <mat-label>{{ confirmPassword }}</mat-label>
        <input
          cdkFocusInitial
          formControlName="confirmPassword"
          matInput
          type="password"
        />
        <mat-error *ngIf="form.get('confirmPassword').hasError('required')">{{
          'validations.required' | translate: { field: confirmPassword }
        }}</mat-error>
        <mat-error *ngIf="form.get('confirmPassword').hasError('validation')">{{
          form.get('confirmPassword').errors.validation
        }}</mat-error>
      </mat-form-field>
    </div>
  </div>
</app-form-dialog>
