:host ::ng-deep .font-in-dropped{
  font-size: 16px;
  width: 345px !important;
  margin-bottom: 32px;
}

.content {
  border-radius: 10px;
  margin: 16px;
  padding: 50px 0;
  margin-left: 32px;
  height:100%;
  overflow: hidden;
  font-size: 2rem;
  color: rgb(90, 87, 87);
}
.dropzone{
  width:700px;
  // background-color: rgb(255, 251, 251); 
  // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  box-shadow: 0 0 10px gray;
}
.fields {
  left: 50px;
}
.field{
  margin:30px;
}

.form-Prop:hover{
  cursor: pointer;
  box-shadow:0 15px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  transition:  all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
	transform: scale(1.1, 1.1);
}

.font-in-dropped{
  font-size: 16px;
  width: 345px !important;
  margin-bottom: 32px;
}
.example-margin{
  margin-left: 10px;
  
}
.build-form{
  padding:50px;
}

:host ::ng-deep .upload-box{
  // background: #5C77FD;
  // border-radius: 50px; 
  max-width: 345px;
  outline: none;
}

:host ::ng-deep  ::-webkit-file-upload-button{
  color: white;
  background:#5C77FE;
  padding: 10px;
  max-height: 50px;
  border:none;
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0px 0px 1px 1px #6b4559;
  outline: none;
}

.icon-display{
  transform: scale(1.5);
  cursor: pointer;
}

mat-dialog-actions{
  display:block;
}

///////////

ul {
  list-style: none;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  height: fit-content;
  background: #5C77FE;
  width: 16rem;
  padding: 1.8rem 0.85rem;
  display: flex;
  flex-direction: column;
  transition: width 0.5s ease-in-out;
}

// nav::before {
//   content: "";
//   position: absolute;
//   width: 2rem;
//   height: 100%;
//   top: 0;
//   left: 100%;
// }


.sidebar-top {
  position: relative;
  display: flex;
  align-items: center;
}





.shrink-btn {
  position: absolute;
  top: 50%;
  height: 27px;
  padding: 0 0.3rem;
  background: #5C77FE;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 3px 10px -3px rgba(70, 46, 118, 0.3);
  left: -2.65rem;
  transform: translateY(-50%) translateX(-8px);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}


.shrink-btn:hover {
  background-color: #3651d4;
}

nav:hover .shrink-btn,
.shrink-btn.hovered {
  transform: translateY(-50%) translateX(0px);
  opacity: 1;
  pointer-events: all;
}

.search {
  min-height: 2.7rem;
  background-color:#cfcde7;
  margin: 2rem 0.5rem 1.7rem;
  display: grid;
  grid-template-columns: 2.7rem 1fr;
  align-items: center;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
}

.search input {
  height: 100%;
  border: none;
  background: none;
  outline: none;
  color: #fff;
  caret-color: #fff;
  font-family: inherit;
}

.search input::placeholder {
  color: var(--text-color);
}

.sidebar-links ul {
  position: relative;
}

.sidebar-links li {
  position: relative;
  padding: 2.5px 0;
}

.sidebar-linksmat -grid-list {
  color: var(#cfcde7);
  font-weight: 400;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  height: 53px;
}

.icon {
  font-size: 1.3rem;
  text-align: center;
  min-width: 3.7rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.icon i {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.3s;
}

.icon i:last-child {
  opacity: 0;
  color: #fff;
}

.sidebar-links a.active,
.sidebar-links a:hover {
  color: #fff;
}

.sidebar-links a .link {
  transition: opacity 0.3s 0.2s, color 0.3s;
}

.sidebar-links a.active i:first-child {
  opacity: 0;
}

.sidebar-links a.active i:last-child {
  opacity: 1;
}

.active-tab {
  width: 100%;
  height: 53px;
  background-color: #3651d4;
  border-radius: 10px;
  position: absolute;
  top: 2.5px;
  left: 0;
  transition: top 0.3s;
}


/* When the menu shrinks */

.hide {
  transition: opacity 0.3s 0.2s;
}

body.shrink nav {
  width: 5.4rem;
}

body.shrink .hide {
  opacity: 0;
  pointer-events: none;
  transition-delay: 0s;
}



