<div class="card overflow-hidden w-full">
  <div class="p-6 pb-0" fxLayout="column" fxLayoutAlign="center center">
    <div class="fill-current text-center">
      <img class="w-16" src="assets/img/demo/أيقونة 1.png" />
    </div>
  </div>

  <div class="text-center mt-4">
    <h2 class="title m-0">{{ 'account.login_title' | translate }}</h2>
    <h4 class="body-2 text-secondary m-0">
      {{ 'account.login_description' | translate }}
    </h4>
  </div>

  <form
    [formGroup]="form"
    (ngSubmit)="login()"
    class="p-6"
    fxLayout="column"
    fxLayoutGap="16px"
  >
    <div fxFlex="auto" fxLayout="column">
      <mat-form-field
        *ngIf="'account.email' | translate as email"
        fxFlex="grow"
        appearance="outline"
      >
        <mat-label>{{ email }}</mat-label>
        <input formControlName="email" matInput required />
        <mat-error *ngIf="form.get('email').hasError('required')">{{
          'validations.required' | translate: { field: email }
        }}</mat-error>
        <mat-error *ngIf="form.get('email').hasError('validation')">{{
          form.get('email').errors.validation
        }}</mat-error>
      </mat-form-field>
      <mat-form-field
        *ngIf="'account.password' | translate as password"
        fxFlex="grow"
        appearance="outline"
      >
        <mat-label>{{ password }}</mat-label>
        <input [type]="inputType" formControlName="password" matInput required />
        <button
          (click)="toggleVisibility()"
          fxLayout="row"
          mat-icon-button
          matSuffix
          matTooltip="{{ 'account.toggle' | translate }}"
          fxLayoutAlign="center center"
          type="button"
        >
          <mat-icon *ngIf="visible" [icIcon]="icVisibility"></mat-icon>
          <mat-icon *ngIf="!visible" [icIcon]="icVisibilityOff"></mat-icon>
        </button>
        <mat-error *ngIf="form.get('email').hasError('required')">{{
          'validations.required' | translate: { field: password }
        }}</mat-error>
        <mat-error *ngIf="form.get('password').hasError('validation')">{{
          form.get('password').errors.validation
        }}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-checkbox
        formControlName="rememberMe"
        matInput
        class="caption"
        color="primary"
        >{{ 'account.remember_me' | translate }}</mat-checkbox
      >
      <button type="button" mat-flat-button class="caption">
        {{ 'account.forgot_password' | translate }}
      </button>
    </div>

    <div class="text-center text-red">
      <p *ngIf="errors.detail" class="caption">{{ errors.detail }}</p>
      <p *ngIf="errors.key" class="caption">{{ errors.key | translate }}</p>
    </div>

    <button
      [disabled]="!form.valid || loading"
      [class.spinner]="loading"
      color="primary"
      mat-raised-button
      type="submit"
    >
      <span [class.p-10]="loading">{{
        !loading ? ('account.sign_in' | translate) : ''
      }}</span>
    </button>
  </form>
</div>
