<div class="overflow-hidden p-4" style="width: 760px;">
  
  <div mat-dialog-content >

    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <!-- <mat-icon color="accent" class='w-14'>add_task</mat-icon> -->
      <div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-bottom: 10px;" class="w-full">
        <mat-slide-toggle [checked]="data.isRequired === true ? true : false" (change)="setValue( $event )" class='w-14'>
        </mat-slide-toggle>
      </div>
      <h3 *ngIf="data.isRequired" class="whitespace-normal w-3/6">{{"Required" | translate}}</h3>
      <h3 *ngIf="!data.isRequired" class="whitespace-normal w-3/6"> {{"Not Required"| translate}}</h3>
      <!-- <h3 class="whitespace-normal w-3/6"> {{formEditorService.toLang(data.name)}} </h3> -->
    </div>
    <div fxLayout="row" fxLayoutAlign="space-evenly start"  class="max-w-3xl">
      <div fxLayout="column" fxLayoutAlign="space-evenly start" class="m-6 w-3/6">
        <mat-form-field *ngIf="data.fieldType >=0" class="w-full" appearance="outline" fxFlex="grow">
          <mat-label>English Label</mat-label>
          <input type="text" [(ngModel)]="data.name.en" matInput max="200" />
        </mat-form-field>
  
        <mat-form-field *ngIf="data.fieldType >=0" class="w-full" appearance="outline" fxFlex="grow">
          <mat-label>Arabic Label</mat-label>
          <input type="text" [(ngModel)]="data.name.ar" matInput max="200" />
        </mat-form-field>
  
        <mat-form-field *ngIf="data.fieldType == +type.Text || data.fieldType == +type.TextArea" class="w-full"
          appearance="outline" fxFlex="grow">
          <mat-label>English Placeholder</mat-label>
          <input type="text" [(ngModel)]="data.placeholder.en" matInput />
        </mat-form-field>
  
        <mat-form-field *ngIf="data.fieldType == +type.Text || data.fieldType == +type.TextArea" class="w-full"
          appearance="outline" fxFlex="grow">
          <mat-label>Arabic Placeholder</mat-label>
          <input type="text" [(ngModel)]="data.placeholder.ar" matInput />
        </mat-form-field>
  
        <mat-form-field *ngIf="data.fieldType == +type.Text " class="w-full" appearance="outline" fxFlex="grow">
          <mat-label>Regex</mat-label>
          <input type="text" [(ngModel)]="data.regex" matInput />
        </mat-form-field>
  
        <mat-form-field *ngIf="data.fieldType == +type.Result " class="w-full" appearance="outline" fxFlex="grow">
          <mat-label>Equation</mat-label>
          <input type="text" [(ngModel)]="data.equation" matInput />
        </mat-form-field>
  
        <mat-form-field class="w-full" appearance="outline" fxFlex="grow" *ngIf="data.fieldType == +type.CheckBox || data.fieldType == +type.Radio || data.fieldType == +type.Select">
          <mat-label>English value</mat-label>
          <input type="text" [(ngModel)]="value.en" matInput />
        </mat-form-field>
  
        <mat-form-field class="w-full" appearance="outline" fxFlex="grow" *ngIf="data.fieldType == +type.CheckBox || data.fieldType == +type.Radio || data.fieldType == +type.Select">
          <mat-label>Arabic value</mat-label>
          <input type="text" [(ngModel)]="value.ar" matInput />
        </mat-form-field>
        <mat-icon (click)="addValue(data.dataValues)" mat-fab color="primary" 
        *ngIf="data.fieldType == +type.CheckBox || data.fieldType == +type.Radio || data.fieldType == +type.Select">control_point</mat-icon>
      </div>
  
      <div class="m-6 w-3/6"
          *ngIf="data.fieldType == +type.CheckBox || data.fieldType == +type.Radio || data.fieldType == +type.Select"
          fxLayout="column" fxLayoutAlign="space-evenly center">
          
          <div *ngFor="let i of data.dataValues; let valueIndex = index;" 
          fxLayout="row" fxLayoutAlign="space-between start" >
            <div class="whitespace-normal w-full pt-2">{{formEditorService.toLang(i.value)}}</div>
  
            <button mat-icon-button [matMenuTriggerFor]="menu" class="mb-8">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <mat-icon (click)="openDialog(i,valueIndex)" color="primary">edit</mat-icon>
                <span> Edit </span>
              </button>
              <button mat-menu-item>
                <mat-icon (click)="data.dataValues.splice(valueIndex,1)" color="primary"> delete </mat-icon>
                <span> Delete </span>
              </button>
            </mat-menu>
          </div>
  
  
      </div>
    </div>
    

  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
    <button mat-button [mat-dialog-close]="data" mat-raised-button color="primary">{{"Yes" | translate}}</button>
    <button mat-button [mat-dialog-close]="false" mat-raised-button color="primary">{{"No" | translate}}</button>
  </div>
</div>